<!-- Bouton Git avec menu déroulant -->
<div class="git-dropdown">
    <button class="tool-btn" id="gitButton"><i class="fab fa-git-alt"></i></button>
    <div class="git-dropdown-content">
        <a href="#" id="cloneProject">Clone Project</a>
        <div class="git-submenu">
            <a href="#" class="git-submenu-trigger">Manage Branches <i class="fas fa-chevron-right"></i></a>
            <div class="git-submenu-content">
                <a href="#" id="newBranch">New Branch</a>
                <a href="#" id="checkoutBranch">Checkout Branch</a>
                <a href="#" id="deleteBranch">Delete Branch</a>
            </div>
        </div>
        <a href="#" id="commitChanges">Commit</a>
        <a href="#" id="pushChanges">Push</a>
        <a href="#" id="pullChanges">Pull</a>
        <a href="#" id="fetchChanges">Fetch</a>
    </div>
</div>
<div class="separator"></div>
